@model Adneotheque.ViewModels.DocumentViewModel

<div id="fetchedDocument">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Available
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @using (Html.BeginForm("DocumentReturn", "Document", FormMethod.Post))
                {
                    @Html.HiddenFor(b => b.Title)
                    @Html.HiddenFor(b => b.DocumentIdentifier)
                    @Html.HiddenFor(b => b.Id)

                    <input type="submit" value="Make it available" class="redButtonInput"/>
                }
            </td>
        </tr>
    </table>
</div>