@model Adneotheque.ViewModels.DocumentViewModel

@{
    ViewBag.Title = "detailstest";
}

<h2>detailstest</h2>

<div>
    <h4>DocumentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayBorrowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayBorrowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowedCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowedCounter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
