@model Adneotheque.ViewModels.DocumentsWithFilters

@{
    ViewBag.Title = "DisplayAllTest";
}

<br />
<br />

<p>
    @Html.ActionLink("Insert a new document", "Create")<br />
    @Html.ActionLink("A document is back", "DocumentReturn")
</p>

<br />

<div class="container body-content">
    <div class="row">
        <div class="col-md-4">

            @using (Html.BeginForm("DisplayWithFilters", "Document"))
            {
                @Html.DropDownList("SelectedCategory",
                    new SelectList(Model.DocumentViewModelPagedList.First().GetDocumentCategoriesList(), "Value", "Text"),
                    "Select",
                    new { @class = "form-control", Name = "Selectedcategory" })

                <input type="submit"
                       name="buttonFilter"
                       value="Search By Category"
                       class="blueButtonInput" />
            }

        </div>


        @using (Ajax.BeginForm(
                    "DisplayWithFilters",
                    "Document",
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "documentList",
                        OnSuccess = "fadeInAndOut"
                    }))
        {

            @Html.HiddenFor(Model => Model.SelectedCategory);

            <div class="col-md-4">
                <input type="search"
                       name="searchTerm"
                       data-adneotheque-autocomplete="@Url.Action("Autocomplete", new {category = @Model.SelectedCategory})"
                       class="form-control" />
                <input type="submit"
                       @*name="buttonFilter"*@
                       value="Search By Title"
                       class="blueButtonInput" />
            </div>

                <div class="col-md-4">

                    @*<label>
                            <input type="checkbox" name="available" value="true"/>
                            Show only availble documents ?
                        </label><br />*@
                    @Html.EditorFor(m => m.Available)
                    <label>Show only available documents ?</label>
                    <br />
                    <input type="submit"
                           value="Change"
                           class="blueButtonInput" />
                </div>
        }

    </div>
</div>

@Html.Partial("_Documents");